@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin small {
  font-size: 80%;
  font-weight: 400;
}

[class^="trn-"] {
  @include reset();
}

@import './variables.scss';
@import './core.scss';
@import './utilities.scss';
@import './item-wrapper.scss';
@import './navigation-tabs.scss';
@import './auto-complete.scss';
@import './buttons.scss';
@import './lists.scss';
@import './cards.scss';
@import './grid.scss';
@import './forms.scss';
@import './alerts.scss';
@import './tables.scss';
@import './pagination.scss';
@import './dropdowns.scss';
@import './modals.scss';
@import './conditional-columns.scss';

//.trn-profile {
//  display: flex;
//  flex-wrap: wrap;
//
//  &-details, &-avatar {
//    width: 50%;
//  }
//}

.trn-profile-picture {
  max-height: 300px;
  max-width: 700px;
}

@media screen and (max-width: 600px) {
  .trn-profile-picture {
    max-height: 215px;
    max-width: 500px;
  }
}

.trn-match-avatar {
  max-height: 96px;
  max-width: 96px;
}

.trn-game-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 0;
}

.trn-ladder-active-last-7 {
}

.trn-ladder-active-last-14 {
  color: #FFFF00 !important;
}

.trn-ladder-active-last-21 {
  color: #FF0000 !important;
}

.trn-ladder-inactive {
  color: #FF0000 !important;
}

.trn-accept-team-request-link, .trn-decline-team-request-link, .trn-delete-team-invitations-link {
  cursor: pointer;
}

.trn {
  &-profile-header, &-competition-header, &-match-header {
    position: relative;
    margin-bottom: 1rem;
    color: #fff;
    padding: 30px 30px 1rem;
    min-height: 291px;
    display: grid;
  }

  &-profile-header, &-competition-header {
    grid-template-rows: auto min-content;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
            "avatar details actions"
            "list list list"
  }

  &-profile-avatar {
    grid-area: avatar;
  }
  &-competition-details {
    grid-area: details;
  }
  &-profile-details {
    grid-area: details;
    padding-left: 30px;
  }
  &-profile-details > &-list-inline a {
    color: white;
  }

  &-profile-name, &-competition-name, &-match-competitor {
    color: #fff;
  }



  &-match-header {
    grid-template-rows: auto min-content;
    grid-template-columns: auto 1fr auto 1fr auto;
    grid-template-areas:
            "avatar1 name1 empty name2 avatar2"
            "list list list list list"
  }


  &-match-header-right-details {
    text-align: right;
  }

  &-match-header-left-details {
    grid-area: name1;
    padding-left: 30px;
  }
  &-match-header-right-details {
    grid-area: name2;
    padding-right: 30px;
  }

  &-profile-record, &-competition-game, &-match-result {
    opacity: .75;
  }

  &-match-header-left-avatar {
    grid-area: avatar1;
  }
  &-match-header-right-avatar {
    grid-area: avatar2;
  }

  &-header-avatar, &-match-header-avatar {
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
    border: solid white 2px;
  }

  &-match-header-avatar {
    width: 160px;
    height: 160px;
  }

  &-profile-list, &-competition-list, &-match-list {
    list-style: none;
    grid-area: list;

    li, &-item {
      display: inline-block;
      margin-left: 14px;
    }

    li:first-child, &-item:first-child {
      margin-left: 0;
    }
  }

  &-item-list {
    width: 100%;
    display: block;
    list-style: none;

    li, &-item {
      display: inline-block;
      margin-left: 14px;
    }

    li:first-child, &-item:first-child {
      margin-left: 0;
    }
  }

  &-profile-list li#{&}-profile-list-item::before,
  &-competition-list li#{&}-competition-list-item::before,
  &-match-list li#{&}-match-list-item::before,
  &-item-list li#{&}-item-list-item::before {
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
    font-weight: 900;
  }

  &-profile-list li#{&}-profile-list-item,
  &-competition-list li#{&}-competition-list-item,
  &-match-list li#{&}-match-list-item,
  &-item-list li#{&}-item-list-item {
    &.location::before {
      content: '\f041';
    }
    &.joined::before {
      content: '\f133';
    }
    &.members::before {
      content: '\f0c0';
    }
    &.info::before {
      content: '\f05a';
    }
    &.format::before {
      content: '\f126';
    }
    &.competitor-type::before {
      content: '\f249';
    }
    &.ranking::before {
      content: '\f201';
    }
    &.platform::before {
      content: '\f11b';
    }
  }

  &-profile-actions {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  &-match-actions {
    grid-area: list;
  }
}

.trn-tab-content > #match_details > .trn-dl > .trn-dt,
.trn-tab-content > #match_details > .trn-dl > .trn-dd {
  width: 50%;
  display: inline-block;
}