@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin small {
  font-size: 80%;
  font-weight: 400;
}

[class^="trn-"] {
  @include reset();
}

@import './variables.scss';
@import './core.scss';
@import './utilities.scss';
@import './item-wrapper.scss';
@import './navigation-tabs.scss';
@import './auto-complete.scss';
@import './buttons.scss';
@import './lists.scss';
@import './cards.scss';
@import './grid.scss';
@import './forms.scss';
@import './alerts.scss';
@import './tables.scss';
@import './pagination.scss';
@import './dropdowns.scss';
@import './modals.scss';
@import './conditional-columns.scss';

.trn-profile {
  display: flex;
  flex-wrap: wrap;

  &-details, &-avatar {
    width: 50%;
  }
}

.trn-profile-picture {
  max-height: 300px;
  max-width: 700px;
}

@media screen and (max-width: 600px) {
  .trn-profile-picture {
    max-height: 215px;
    max-width: 500px;
  }
}

.trn-match-avatar {
  max-height: 96px;
  max-width: 96px;
}

.trn-game-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 0;
}

.trn-ladder-active-last-7 {
}

.trn-ladder-active-last-14 {
  color: #FFFF00 !important;
}

.trn-ladder-active-last-21 {
  color: #FF0000 !important;
}

.trn-ladder-inactive {
  color: #FF0000 !important;
}

.trn-accept-team-request-link, .trn-decline-team-request-link, .trn-delete-team-invitations-link {
  cursor: pointer;
}