.trn {
  &-item-wrapper {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background: #fff;
    display: flex;
    flex-direction: column;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.1875);
      background: rgba(0, 0, 0, 0.0625);
      cursor:pointer;
    }
  }

  &-item-group {
    display: block;
    width: 100%;
  }

  &-item-thumbnail {
    float: left;
  }
  &-item-thumbnail img {
    height: 100px;
    width: 100px;
  }
  &-item-info {
    margin-left: 110px;
  }
  &-item-info > ul {
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
  }
  &-item-title {
    font-size: 1.5em;
    display: block;
  }
  &-item-meta {
    display: block;
  }

  #tournaments &-item-info ul {
    margin-top: 0;
  }

  @media screen and (max-width: 500px) {
    &-item-thumbnail {
      width: 100%
    }
    &-item-thumbnail img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &-item-info {
      margin-left: 0;
      clear: both;
      width: 100%;
    }
  }
}