.trn {
  &-nav {
    all: unset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 1rem;
    list-style: none;
  }

  &-nav-item {
    all: unset;
    list-style: none;
  }

  &-nav-item:not(:disabled):not(.trn-disabled) {
    cursor: pointer;
  }

  &-nav-link {
    all: unset;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25em;
  }

  &-nav-link:hover,
  &-nav-link:focus {
    text-decoration: none;
  }

  &-nav-link#{&}-nav-active {
    color: #fff;
    background-color: #5279bd;
  }

  &-tab-pane {
    display: none;
  }

  &-tab-pane#{&}-tab-active {
    display: block;
  }
}
