.trn {
  &-pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

    & a {
      text-decoration: none;
    }

    & li {
      margin: 0;
    }
  }

  &-page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #5279bd;
    background-color: #fff;
    border: 1px solid #dee2e6;

    &:hover {
      z-index: 2;
      color: #496caa;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }

    &:focus {
      z-index: 2;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    :not(:disabled):not(.trn-disabled) {
      cursor: pointer;
    }
  }

  &-page-item:first-child &-page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &-page-item:last-child &-page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &-page-item.trn-active &-page-link {
    z-index: 1;
    color: #fff;
    background-color: #5279bd;
    border-color: #5279bd;
  }

  &-page-item.trn-disabled &-page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }

  &-pagination-lg &-page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &-pagination-lg &-page-item:first-child &-page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  &-pagination-lg &-page-item:last-child &-page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  &-pagination-sm &-page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  &-pagination-sm &-page-item:first-child &-page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }

  &-pagination-sm &-page-item:last-child &-page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}
